<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <h1>Log in!</h1>
    <form method="POST" action="/auth/login">
        <input type="name" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
    <a href="/auth/signup">Sign up</a>
</body>
</html>