<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    <a href="/auth/logout">Log out</a>

    <form method="POST" action="/posts" enctype="multipart/form-data">
        Profile Photo: <input name="profilePhoto" type="file"><br>
        Name: <input name="name" type="name"><br>
        Email: <input name="email" type="email">
        <input type="submit" value="Update">
    </form>

        <div>
            <% /* %> <img src="<%= img %>"> <% */ %>
            <h1>Welcome, <%= user.name %></h1>
            <p><%= user.email %></p>
        </div>

    <h1>Create Post</h1>
    <form method="POST" action="/posts">
        <textarea name="text" placeholder="What's new?"></textarea>
        <button type="submit">Post</button>
    </form>
    
</body>
</html>