<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <%- include("fragments/header.ejs") %>

    <div id="content">
        <h1>Create Post</h1>
        <br>
        <form method="POST" action="/page/posts">
            <textarea maxlength="140" name="post" placeholder="What's new?"></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
    <% if (locals.entries) { %>
    <% entries.forEach(entry => { %>
        <div>
            <h2><%= entry.post %></h2>
            <p><%= entry.date %></p>>
        </div>
    <% }) %>
    <% } %>
</body>
</html>