<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form method="POST" action="/auth/signup">
        <input type="name" name="username">
        <input type="password" name="password">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>