<div id="menu">
    <a class="menutag" href="/page/posts">Posts</a>
    <a class="menutag" href="/page/profile">Profile</a>
    <a class="menutag" href="/auth/logout">Log out</a>
    <p id="username"> Logged in as: @<%= user.username %></p>
</div>