* {
    margin: 0;
    padding: 0 ;
}

body {
    background-color: rgb(222, 237, 247);
}

#menu {
    position: relative;
    background-color: #1DA1F2;
    color: white;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
}

.menutag{
    background-color: rgb(222, 237, 247);
    color: black;
    margin: 0 2%;
    border: 1px solid white;
    font-family: sans-serif;
    border-radius: 12px;
    padding: 7px;
    text-decoration: none;
    /* color: white; */
}

#username {
    margin: 0 2%;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    right: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: white; */
    background-color: rgb(255, 255, 255);
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    height: 89vh;
    text-align: center;
}

#content::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 60%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.profilePhoto-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    }

.postProfilePhoto {
    display: inline;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    }